# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration files
local.properties
*.iml

# Android Studio
.idea/
.cache/
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

# Log/Temporary
*.log
*.tmp

# APKs
*.apk
*.ap_
